#background{
	background-image: url('image/level1.jpg');
	height: 800px;
	width: 1200px;
}
#squirrels{
	background-image: url('image/squirrels.jpg');
	height: 50px;
	width: 50px;
	position: absolute;
	top: 700px;
	left: 550px;
}
.bug{
	background-image: url('image/bugs.jpg');
	height: 50px;
	width: 50px;
	position: absolute;
	top: 100px;
	left: 550px;
}
#pinecones{
	height:800px;
	width:1200px;
	position: absolute;
}
.pinecone{
	background-image: url('image/pinecone.jpg');
	height: 16px;
	width: 10px;
	position: absolute;
}
#bugs{
	height: 800px;
	width: 1200px;
	position: absolute;
}
